APP_NAME="AcadémieRédactionOHADA"
APP_ENV=local
APP_KEY=base64:I5SAnZUGEhSkqRcmHw2+2dsDOxAF9/M172d53XXEnp8=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Africa/Dakar
APP_LOCALE=fr

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=academieohada
DB_USERNAME=postgres
DB_PASSWORD=passer123

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file

# Mail (Brevo SMTP - Pause)
MAIL_MAILER=log
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=academie.redactionohada@gmail.com
MAIL_PASSWORD=your_brevo_smtp_key_here
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=academie.redactionohada@gmail.com
MAIL_FROM_NAME="AcadémieRédactionOHADA"

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"

# Admin WhatsApp
ADMIN_WHATSAPP=221775646246

# Admin email de notification
ADMIN_EMAIL=academie.redactionohada@gmail.com
ADMIN_NAME="Diabel"
